---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=30ae933e41ab83436cadb4f392b2c8d7&q=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":2.35,"lat":48.85},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":290.32,"pressure":1022,"humidity":63,"temp_min":289.15,"temp_max":291.15},"visibility":10000,"wind":{"speed":5.1,"deg":260},"clouds":{"all":75},"dt":1494757800,"sys":{"type":1,"id":5615,"message":0.0094,"country":"FR","sunrise":1494734974,"sunset":1494789910},"id":2988507,"name":"Paris","cod":200}'
  recorded_at: Sun, 14 May 2017 10:45:42 GMT
recorded_with: VCR 2.9.3
